---
layout: default
permalink: /
---

<!-- Masthead -->
<header class="masthead text-white text-center"
        style="background: url('{{ site.baseurl }}/images/bg-masthead-code.jpg') no-repeat center center; background-size: cover;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-5">Rush: a scalable monorepo manager for the web</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <div class="form-row">
          <div class="col-6">
            <form action="{{ site.data.links.masthead_learn_more }}">
              <button type="submit" class="btn btn-block btn-lg btn-secondary">Learn More</button>
            </form>
          </div>
          <div class="col-6">
            <form action={{ site.data.links.masthead_get_started }}>
              <button type="submit" class="btn btn-block btn-lg btn-primary">Get Started!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 mx-auto" style="max-width: 60rem">
      <p class="lead">
          Rush makes life easier for JavaScript developers who build and publish many packages from a
          common Git repo.  If you're looking to break up your giant application into smaller pieces, and you
          already realized <a href="{{ site.data.links.why_mono }}">why it doesn't work</a> to put each package
          in a separate repo... then Rush is for you!
      </p>

      <!-- Intro -->
      <div class="container-fluid">
        <div class="row">
          <div class="container d-block d-md-none m-4">
            <img src="/images/home/mono-concept-v.svg" class="row img mx-auto" width="100%" alt="monorepo diagram">
          </div>
          <div class="container d-none d-md-block m-4">
            <img src="/images/home/mono-concept-h.svg" class="row img-fluid mx-auto" alt="monorepo diagram">
          </div>
        </div>
      </div>

      <h1>The Rush difference</h1>

      These days many different tools can run "npm install" and "npm run build" in 20 different
      folders.  What's so great about <b>Rush</b>?

      <!-- Cards -->
      <div class="card m-4">
        <div class="row no-gutters">
          <div class="col-md-auto p-3 home-card">
            <img src="/images/home/card-repo.svg" class="img-fluid mx-auto d-block" alt="Git repositories">
          </div>
          <div class="col-md p-3">
            <div class="card-block px-2">
              <h4 class="card-title">Ready for large repos</h4>
              <p class="card-text">At Microsoft, we build monorepos with hundreds of projects.
                Rush's unique installation strategy produces a single shrinkwrap/lock file for all your
                projects that installs extremely fast.  Rush supports parallel builds, subset builds, and
                incremental builds.  Distributed multi-machine builds are coming soon!
            </div>
          </div>
        </div>
      </div>

      <div class="card m-4">
        <div class="row no-gutters">
          <div class="col-md-auto p-3 order-md-2 home-card">
            <img src="/images/home/card-people.svg" class="img-fluid mx-auto d-block" alt="large team">
          </div>
          <div class="col-md p-3">
            <div class="card-block px-2">
              <h4 class="card-title">Designed for large teams</h4>
              <p class="card-text">Rush provides many mechanisms for onboarding newcomers and coordinating
              collaboration between teams.  Repo policies allow new package dependencies to be reviewed before they
              are accepted.  Rush can enforce consistent dependency versions across your repo.
              Different subsets of projects can publish separately with lockstep or independent versioning strategies,
              private releases, and so forth.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-4">
        <div class="row no-gutters">
          <div class="col-md-auto p-3 home-card">
            <img src="/images/home/card-phantom.svg" class="img-fluid mx-auto d-block" alt="NPM phantom dependency">
          </div>
          <div class="col-md p-3">
            <div class="card-block px-2">
              <h4 class="card-title">No phantom dependencies!</h4>
              <p class="card-text">Tired of broken imports or mismatched versions when someone else installs
              your package?  Rush's isolated symlinking model eliminates these NPM
              <a href="{% link pages/advanced/phantom_deps.md %}">phantom dependencies</a>,
              ensuring you'll never again accidentally import a library that was missing from package.json.</p>
              <p>This algorithm is compatible with <b>PNPM</b>, <b>NPM</b>, and <b>Yarn</b> package managers.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-4">
        <div class="row no-gutters">
          <div class="col-md-auto p-3 order-md-2 home-card">
            <img src="/images/home/card-doppel.svg" class="img-fluid mx-auto d-block" alt="NPM doppelganger">
          </div>
          <div class="col-md p-3">
            <div class="card-block px-2">
              <h4 class="card-title">No NPM doppelgangers!</h4>
              <p class="card-text">Rush's installation model now supports the <b>PNPM</b> package manager,
              which eliminates <a href="{% link pages/advanced/npm_doppelgangers.md %}">NPM doppelgangers</a>.
              You'll never again find 5 copies of the same version of the same library in your node_modules folder!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-4">
        <div class="row no-gutters">
          <div class="col-md-auto p-3 home-card">
            <img src="/images/home/card-trike.svg" class="img-fluid mx-auto d-block" alt="motorbike and tricycle">
          </div>
          <div class="col-md p-3">
            <div class="card-block px-2">
              <h4 class="card-title">Easy to administer</h4>
              <p class="card-text">When you maintain a large repo, you don't want developers opening
                support tickets that can't be reproduced on any other computer.  Rush helps to ensure
                that installs and builds are completely deterministic.  Even the Rush engine version
                is automatically installed according to your Git branch.  If you define custom commands or options,
                they are strictly validated and documented as part of Rush's command-line help.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-4">
        <div class="row no-gutters">
          <div class="col-md-auto p-3 order-md-2 home-card">
            <img src="/images/home/card-knife.svg" class="img-fluid mx-auto d-block" alt="army knife">
          </div>
          <div class="col-md p-3">
            <div class="card-block px-2">
              <h4 class="card-title">Turnkey solution</h4>
              <p class="card-text">Tired of cobbling together your developer experience from
              multiple tools that never seem to integrate properly?  Rush is a
              unified orchestrator that can install, link, build, generate change logs, publish,
              and bump versions.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card m-4">
        <div class="row no-gutters">
          <div class="col-md-auto p-3 home-card">
            <img src="/images/home/card-free.svg" class="img-fluid mx-auto d-block" alt="free price tag">
          </div>
          <div class="col-md p-3">
            <div class="card-block px-2">
              <h4 class="card-title">Open model</h4>
              <p class="card-text">The Rush software is free and open source.
              Community contributions are welcome!  We're also open-minded about your toolchain:
              In a Rush repo, each project folder remains fully self-contained, individually installable,
              and easy to relocate if needed.  Relatively little effort is required to enable/disable Rush
              for a given set of projects.
              </p>
            </div>
          </div>
        </div>
      </div>

      <h1>Who's using Rush?</h1>

      <div style="padding-bottom: 2rem;"></div>

      <div class="container">
        <div class="row">
          {% for project in site.data.testimonials %}
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="home-testimonial mx-auto mb-5 mb-lg-0">
                {% if project.url %}
                  <a href={{ project.url }}>
                {% endif %}

                  <img class="img-fluid mb-3" src={{ "/images/" | append: project.image | absolute_url }} alt="{{ project.text }} logo">
                  <div style="text-align: center;">{{ project.text }}</div>

                {% if project.url %}
                  </a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div style="padding-bottom: 8rem;"></div>

    </div>
  </div>
</div>
