// The "docsite" layout with a sticky header and scripted sidebar

:root {
  --docsite-header-size: 100px;
  --docsite-footer-size: 70px;
}

.docsite-header {
  position: static;

  @include media-breakpoint-up(md) {
    position: sticky;
    height: var(--docsite-header-size);
    padding: 0;
  }
}

.docsite-footer {
  @include media-breakpoint-up(md) {
    height: var(--docsite-footer-size);
  }
}

.docsite-main {
  @include media-breakpoint-up(md) {
    // Stretch the footer to the bottom
    min-height: calc(100vh - var(--docsite-header-size) - var(--docsite-footer-size));
  }
}

.docsite-side-nav {
  float: right;
  width: auto;

  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  color: $dark;
  font-weight: bold;

  a {
    color: $dark;
  }

  ul {
    @extend .list-unstyled;
    font-weight: normal;
  }

  li {
    font-size: 85%;
  }
}

.docsite-side-nav-selection {
  font-weight: bold;

  a {
    color: $link-hover-color;
  }
}

.docsite-sidebar {
  // The docs-sidebar uses position=fixed so for its vertical scrolling feature.
  // This means it can't participate in the grid, so instead we create a separate
  // docsite-sidebar-placeholder with z-index=-1000 to hold its space in the grid.
  position: fixed;

  top: var(--docsite-header-size);
  --scripted-sidebar-nudge: 300px;
  height: calc(100vh - var(--docsite-header-size) - var(--scripted-sidebar-nudge));
  overflow-x: hidden;
  overflow-y: auto; /* show a scrollbar when needed */

  padding: 0;
  margin: 0;
}

.docsite-sidebar-placeholder {
  // Ensure this is rendered behind the docsite-sidebar
  z-index: -1000;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
}

table {
  font-size: 93%;
  margin-top: 2rem;
  margin-bottom: 1rem;

  border-style: solid;
  border-width: 1px;
  border-color: $gray-400;
}

th {
  padding: 0.5rem;
}

td {
  padding: 0.5rem;

  border-top-style: solid;
  border-width: 1px;
  border-color: $gray-400;
  vertical-align: top;
}
