// The "docsite" layout with a sticky header and scripted sidebar

:root {
  --docsite-header-size: 100px;
  --docsite-footer-size: 70px;
}

.docsite-header {
  position: static;

  @include media-breakpoint-up(md) {
    position: sticky;
    height: var(--docsite-header-size);
    padding: 0;
  }
}

.docsite-footer {
  @include media-breakpoint-up(md) {
    height: var(--docsite-footer-size);
  }
}

.docsite-main {
  @include media-breakpoint-up(md) {
    // Stretch the footer to the bottom
    min-height: calc(100vh - var(--docsite-header-size) - var(--docsite-footer-size));
  }
}

.docsite-side-nav {
  float: right;
  width: auto;

  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  color: $dark;
  font-weight: bold;

  a {
    color: $dark;
  }

  ul {
    @extend .list-unstyled;
    font-weight: normal;
  }

  li {
    font-size: 85%;
  }
}

.docsite-side-nav-selection {
  font-weight: bold;

  a {
    color: $link-hover-color;
  }
}

.docsite-sidebar {
  // The docs-sidebar uses position=fixed so for its vertical scrolling feature.
  // This means it can't participate in the grid, so instead we create a separate
  // docsite-sidebar-placeholder with z-index=-1000 to hold its space in the grid.
  position: fixed;

  top: var(--docsite-header-size);
  --scripted-sidebar-nudge: 300px;
  height: calc(100vh - var(--docsite-header-size) - var(--scripted-sidebar-nudge));
  overflow-x: hidden;
  overflow-y: auto; /* show a scrollbar when needed */

  padding: 0;
  margin: 0;
}

.docsite-sidebar-placeholder {
  // Ensure this is rendered behind the docsite-sidebar
  z-index: -1000;
}

// When clicking a "jump link" to an anchor within the page, shift the target downwards to account for the
// docsite header (which is floating above the page)
:target::before {
  content:"";
  display: block;
  height: var(--docsite-header-size);
  margin: -var(--docsite-header-size);
}

// Add a little icon next to hyperlinks that point to an external page.
// We only do this inside an <article>.  An external page has "://" in its
// URL and does not include to "rushjs.io" or "localhost".
article a[href*="://"]:not([href*="rushjs.io"]):not([href*="localhost"]) {
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 13px;
  background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg width%3D%2211%22 height%3D%2211%22 version%3D%221.1%22 viewBox%3D%220 0 14.364 15.028%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22 xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22 xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22 %3E%3Cmetadata%3E%3Crdf%3ARDF%3E%3Ccc%3AWork%3E%3Cdc%3Acreator%3E%3Ccc%3AAgent%3E%3Cdc%3Atitle%3Ehttps%3A%2F%2Fgithub.com%2Fpgonzal%3C%2Fdc%3Atitle%3E%3C%2Fcc%3AAgent%3E%3C%2Fdc%3Acreator%3E%3C%2Fcc%3AWork%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cg transform%3D%22translate(-82.14 -158.93)%22 fill%3D%22%23c95228%22 %3E%3Cpath d%3D%22m83.4 161.53c-0.80824-0.0237-1.3558 0.80437-1.2464 1.5543 0.0038 3.237-0.0077 6.4743 0.0058 9.711 0.0539 0.73242 0.77982 1.2548 1.4899 1.151 3.2712-5e-3 6.543 0.01 9.8138-7e-3 0.75077-0.0663 1.2005-0.84784 1.1068-1.5494v-4.0444h-2.1993v3.4019h-8.0176v-8.0176h1.6784v-2.1994h-2.6314z%22%2F%3E%3Cpath d%3D%22m96.504 158.93c-2.5996 0.45395-5.1993 0.90791-7.7989 1.3619 0.56868 0.56868 1.1374 1.1374 1.706 1.706-1.0392 1.0392-2.0785 2.0785-3.1177 3.1177 1.0083 1.0083 2.0166 2.0166 3.025 3.025 1.0392-1.0392 2.0785-2.0785 3.1177-3.1177 0.56868 0.56868 1.1374 1.1374 1.706 1.706 0.45396-2.5996 0.90792-5.1993 1.3619-7.7989z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
}

table {
  font-size: 93%;
  margin-top: 2rem;
  margin-bottom: 1rem;

  border-style: solid;
  border-width: 1px;
  border-color: $gray-400;
}

th {
  padding: 0.5rem;
}

td {
  padding: 0.5rem;

  border-top-style: solid;
  border-width: 1px;
  border-color: $gray-400;
  vertical-align: top;
}
