body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
  margin-top: 3rem;
}

blockquote {
  margin-left: 2rem;
  margin-right: 2rem;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;

  border-color: $primary;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 6pt;
  border-radius: 4pt;
}

:not(pre) > code {
  background-color: $light;
  color: $black;
  border-radius: 2pt;
  border: 1px solid #ccc;
  padding: 1pt;
}
