<!-- Footer -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          {% for link in site.data.navigation %}
            <li class="list-inline-item">
              <a href={{ link.url | absolute_url }}>{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Microsoft 2018. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>