<!-- Footer -->
<footer id="scripted-footer" class="docsite-footer p-3 bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        <p class="text-muted small">&copy; {{ site.time | date: '%Y' }} Microsoft</p>
      </div>
      <div class="col-9 d-none d-md-block text-right">
        <ul class="list-inline">
          {% for link in site.data.top_nav_nodes %}
            <li class="list-inline-item">
              <a href={{ link.url | absolute_url }}>{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</footer>