
<div class="docsite-side-nav">
  <div><a href="#">Section 1</a></div>
  <div>
    <a href="#">Section 2</a>
    <ul>
      <li><a href="#">Getting Started</a></li>
      <li class="docsite-side-nav-selection">Getting Started</li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Getting Started</a></li>
    </ul>
  </div>

  <div><a href="#">Section 3</a></div>
  <div><a href="#">Section 4</a></div>
</div>
