{% assign side_nav_items = site.data.navigation[page.navigation_source] %}

{% if side_nav_items[0] %}
  <div class="docsite-side-nav">

    {% for item in side_nav_items %}
      <div>
        {% if item.subitems[0] %}
          <a href="{{ item.subitems[0].url | absolute_url }}">{{ item.title }}</a>
          <ul>
            {% for subitem in item.subitems %}
              {% assign temp = subitem.url | append: '/' %}
              {% if page.url == subitem.url or page.url == temp %}
                <li id="docsite-side-nav-selection" class="docsite-side-nav-selection">
                  <a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
              {% else %}
                <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
              {% endif %}

            {% endfor %}
          </ul>
        {% else %}
          {{ item.title }}
        {% endif %}
      </div>
    {% endfor %}

  </div>

{% endif %}
