<!-- Navigation -->
<nav class="navbar sticky-top navbar-light bg-light flex-md-nowrap docsite-header">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src={{ "/images/rush-horiz.svg" | absolute_url }}
            style="height: 40px" alt="rushjs.io" title="rushjs.io" />
    </a>
    <div>

      <!-- SEARCH BOX - BEGIN -->
      <form action="#" class="form" style="display: inline-block; vertical-align: middle;">
        <input class="form-control" id="search-input" name="search" type="text" placeholder='search docs...' />
      </form>

      <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
      <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
      <script>
        var client = algoliasearch('{{ site.algolia.application_id }}', '{{ site.algolia.search_only_api_key }}');
        var index = client.initIndex('{{ site.algolia.index_name }}');
        autocomplete('#search-input', { hint: false }, [
          {
            source: autocomplete.sources.hits(index, { hitsPerPage: 5 }),
            displayKey: 'title',
            templates: {
              suggestion: function(suggestion) {
                return suggestion._highlightResult.title.value;
              }
            }
          }
        ]).on('autocomplete:selected', function(event, suggestion, dataset) {
          console.log(suggestion.url);
          window.location.href = suggestion.url;
        });
      </script>
      <!-- SEARCH BOX - END -->

      {% for link in site.data.navigation %}
        <a class="btn {% if link.primary %} btn-primary {% endif %}" href="{{ link.url | absolute_url }}">
          {{ link.text }}
        </a>
      {% endfor %}

    </div>
  </div>
</nav>
