
.home-card {
  background-color: $light;

  @include media-breakpoint-up(md) {
    width: 15rem;
    display: flex;
  }
}

.home-testimonial {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 8rem;
}
