---
layout: default
title: a mono-repo manager
permalink: /
---

<!-- Masthead -->
<header class="masthead text-white text-center"
        style="background: url('{{ site.baseurl }}/images/bg-masthead.jpg') no-repeat center center;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Rush is a fast, professional solution for managing your NPM mono-repo</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <div class="form-row">
          <div class="col-6">
            <form action="https://github.com/Microsoft/web-build-tools/wiki/Rush-~-Setting-up-your-repo">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Get Started!</button>
            </form>
          </div>
          <div class="col-6">
            <form action="{{ site.baseurl }}/about">
              <button type="submit" class="btn btn-block btn-lg btn-secondary">Learn More</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-globe m-auto text-primary"></i>
          </div>
          <h3>A single NPM install</h3>
          <p class="lead mb-0">In one step, Rush installs all the dependencies for all your projects into a common folder.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-vector m-auto text-primary"></i>
          </div>
          <h3>Automatic local linking</h3>
          <p class="lead mb-0">Inside a Rush repo, all your projects are automatically symlinked to each other.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-rocket m-auto text-primary"></i>
          </div>
          <h3>Fast builds</h3>
          <p class="lead mb-0">Rush detects your dependency graph and builds your projects in the right order.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ site.baseurl }}/images/bg-showcase-1.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Subset and incremental builds</h2>
        <p class="lead mb-0">Rush build delivers a powerful cross-project incremental build. Also, if you only want to work with a few projects, you can build only the subset of packages you are interested in.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('{{ site.baseurl }}/images/bg-showcase-2.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Release and changelog management</h2>
        <p class="lead mb-0">When it's time to do a release, Rush can detect which packages have changes, automatically bump all the appropriate version numbers, and run npm publish in each folder. If you like, configure your server to automatically run rush publish every hour.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ site.baseurl }}/images/bg-showcase-3.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Made by professionals</h2>
        <p class="lead mb-0">Rush was created by the platform team for Microsoft SharePoint. We build hundreds of production NPM packages every day, from internal and public Git repositories, for third party SDKs and live services with millions of users. If there's an important package management problem that needs solvin', it's likely to end up as a feature for Rush.</p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Who is using Rush...</h2>
    <div class="row">
      {% for project in site.data.rush_projects %}
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            {% if project.url %}
              <a href={{ project.url }}>
            {% endif %}

              <img class="img-fluid rounded mb-3" style="height: 270" src={{ "/images/" | append: project.image | absolute_url }} alt="">
              <h5>{{ project.text }}</h5>

            {% if project.url %}
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started?</h2>
      </div>
    </div>
  </div>
</section>