---
layout: default
---

<div class="container-fluid docsite-main" style="max-width: 80rem;">
  <div class="row">
    {% comment %} Only for large displays, appears behind scripted-sidebar to reserve its space {% endcomment %}
    <div class="docsite-sidebar-placeholder d-none d-md-block col-3"> </div>

    {% comment %} Only for large displays {% endcomment %}
    <nav id="scripted-sidebar" class="d-none d-md-block docsite-sidebar">
      {% include base/side_nav.html %}
    </nav>

    {% comment %} Used instead for small displays {% endcomment %}
    <div class="col-1 d-block d-md-none"></div>

    {% comment %} For small displays this takes 10 columns, for large displays 8 columns {% endcomment %}
    <article role="main" class="col-10 col-md-8 px-4">
      <div class="pt-3 pb-2 mb-3">

        {% comment %} "Improve this" floating button, shown only on large displays {% endcomment %}
        {% if site.data.links.edit_this_page_base_url %}
          {% if page.navigation_source == "docs_nav" %}
            <a class="btn btn-outline-secondary btn-sm d-none d-md-block"
              style="float: right; margin-top: 3rem; position: relative;"
              href="{{ site.data.links.edit_this_page_base_url }}{{ page.path }}">
              Improve this page
            </a>
          {% endif %}
        {% endif %}

        <h1>{{ page.title }}</h1>

        {% comment %} Menu bar used only on small displays {% endcomment %}
        <div class="d-md-none pb-2">
            <a class="btn btn-outline-secondary btn-sm" href="/mobile_nav">
              << Docs Index
            </a>
        </div>

        <div class="entry">
          {{ content }}
        </div>
      </div>
    </article>

    <div class="col-1"></div>
  </div>
</div>

<script>
function updateScriptedSidebar() {
  let sidebar = document.getElementById('scripted-sidebar');
  let mainFooter = document.getElementById('scripted-footer');
  if (sidebar && mainFooter) {
    // When the footer scrolls into view, reduce the sidebar height so that it
    // doesn't overlap the footer.  Bootstrap 4 removed the "Affix" plugin, so
    // we need custom script for this.
    let nudge = Math.max(window.innerHeight - mainFooter.getBoundingClientRect().top, 0);
    sidebar.style.setProperty('--scripted-sidebar-nudge', nudge + 'px');
  }
}

function scrollToSelectedNavItem() {
  // If the current page is highlighted in the side nav,
  // then scroll that item into view
  let navSelection = document.getElementById('docsite-side-nav-selection');
  if (navSelection && navSelection.scrollIntoView) {

    // Is it in already in view?
    let bounding = navSelection.getBoundingClientRect();

    let footerHeight = document.getElementById('scripted-footer').offsetHeight;

    let isInView =
        bounding.top >= 0 &&
        bounding.left >= 0 &&
        bounding.bottom <= (window.innerHeight || document.documentElement.clientHeight) - footerHeight &&
        bounding.right <= (window.innerWidth || document.documentElement.clientWidth);

    if (!isInView) {
      navSelection.scrollIntoView( { block: "center" });
    }
  }
}

window.addEventListener("scroll", updateScriptedSidebar);
window.addEventListener("resize", updateScriptedSidebar);
window.addEventListener("load", updateScriptedSidebar);

window.addEventListener("load", scrollToSelectedNavItem);
</script>
